*.DS_Store

config_files/hashtags.txt
config_files/twitter_keys.yml
config_files/stable-plasma-690-686708fe9d44.json
results.zip
config_files/footbal_hashtags.txt
config_files/usernames.txt
config_files/keys.yaml
*.rar
*.zip
